<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yoga Ease</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap" rel="stylesheet">
<!-- <link rel ="stylesheet" href ="style.css"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
    <!-- <script defer src="{{ url_for('static', filename='js/register.js') }}"></script> -->
</head>

<body>
    
    <header class="header">
        <!-- left box for logo -->
        <div class="left">
            <img src="{{ url_for('static', filename='img/lotus.png') }}" alt="">
            <div> YogaEase</div> 
        </div>
        <!-- mid for navigation bar -->
        <div class="mid">
            <ul class="navbar">
                <li><a href="/">Home</a></li>
                <li><a href="/register.html">Register</a></li>
                <li><a href="/changeSchedule.html">Renew</a></li>
                <li><a href="/payment.html">Pay Fee</a></li>
            </ul>
        </div>
        <!-- right for buttons -->
        <!-- <div class="right">
            <button class="btn">
                Call us 
            </button>
            <button class="btn">
                Follow us on
            </button>
        </div> -->
    </header>
    <div class="main">
        <div class="infoContainer">
            <h1>Join the best yoga class in Mumbai now</h1>
            <form id="form"action = "" method="post">
                
                <div class="form-group">
                    <!-- <label for="username">UserName</label> -->
                    <input type="text" name="name" placeholder="Enter your name" >
                    <div class="error">{{ error_messages.name }}</div>
                </div>
                <div class="form-group">
                    <!-- <label for="email">Email</label> -->
                    <input type="text" name="email" placeholder="Enter your email" id="email">
                    <div class="error">{{ error_messages.email }}</div>
                </div>
                <div class="form-group">
                    <!-- <label for="age">Age</label> -->
                    <input type="number" id="age"name="age" placeholder="Enter your age">
                    <div class="error">{{ error_messages.age }}</div>
                </div>
                <div class="form-group">
                    <!-- <label for="batch">Batch</label> -->
                    <select name="timeslot" id="timeslot">
                        <option value="" disabled selected>Select batch</option>
                        <option value="6-7AM">6-7AM</option>
                        <option value="7-8AM">7-8AM</option>
                        <option value="8-9AM">8-9AM</option>
                        <option value="5-6PM">5-6PM</option>
                      </select>
                    <div class="error">{{ error_messages.timeslot }}</div>
                </div>
                <div class="form-group">
                    <!-- <label for="age">Age</label> -->
                    <input type="submit" value="submit">
                    <div class="error">{{ error_messages.exists }}</div>
                    
                </div>
                
                
                <!-- <button type="submit" class ="btn" >Submit</button> -->
            </form>
        </div>
    </div>
    <!-- <script defer src="{{ url_for('static', filename='js/register.js') }}"></script> -->
</body>
</html>